* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background: #cccc;
}

#contenedor {
    background: #fff;
    /* height: 1500px; */
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

#habitacion {
    height: 150px;
    width: 240px;
    float: left;
}